* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}


h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    border: #333 solid 2px;
}

div {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1af579;
    text-align: center;
}

a:hover {
    color: #e7dc0b;
    font-weight: bold;
}