* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    color: #000;
    background-color: #ffffffb9;
    box-sizing: border-box;
}

h1 {
    margin: 20px 0;
    font-size: 30px;
    height: 100px;
    line-height: 100px;
    color: #333;
    text-align: center;
    border: 1px solid #333;
    border-radius: 50px;
}

div {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #3064bb;
    text-align: center;
    font-size: 30px;
}

a {
    text-decoration: none;
    padding: 0 auto;
}

a:hover {
    color: #e7dc0b;
    background-color: #608dd9;
}